@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap");

body {
  container-type: inline-size;
  container-name: salon-slider;
}
.intro,
.statistics,
.history,
.salons {
  --section-padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-stretch: normal;
  color: #403f3f;
  padding: var(--section-padding);
}

.accent-text-color {
  font-weight: bold;
  color: var(--orange);
}

.intro img {
  max-width: 100%;
  aspect-ratio: 389/300;
  object-fit: cover;
  object-position: top;
  margin: 20px 0;
}

.intro .intro-text-block .intro-title {
  font-weight: 700;
  font-size: clamp(2rem, 1.4815rem + 2.5926vw, 3.75rem);
  margin-bottom: 20px;
}
.intro .intro-text-block .intro-text {
  font-size: clamp(1.125rem, 1.0188rem + 0.531vw, 1.5rem);
  margin-bottom: 10px;
}
.intro .intro-text-block .intro-text a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--orange);
  text-underline-offset: 7px;
}

.statistics {
  --row-gap: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 14px var(--row-gap);
  max-width: 1400px;
  margin: 0 auto;
}
.statistics .statistics-box {
  flex: 1 1;
  width: calc(50% - var(--row-gap));
  max-width: 360px;
  border: 1px solid #403f3f1a;
  border-radius: 30px;
  padding: 30px 16px;
  line-height: 1.1;
}

@media screen and (min-width: 1200px) {
  .statistics {
    --row-gap: 14px;
  }
  .statistics .statistics-box {
    padding: 40px;
  }
}
.statistics .statistics-box .statistics-title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.1449rem + 1.4953vw, 2.5rem);
  margin-bottom: 10px;
}

.statistics .statistics-box .statistics-description {
  font-size: clamp(1rem, 0.9556rem + 0.1869vw, 1.125rem);
  margin-bottom: 0;
}

.history {
  max-width: 1400px;
  margin: 0 auto;
}

.history img {
  max-width: 100%;
  aspect-ratio: 389/400;
  object-fit: cover;
  object-position: top;
  margin-bottom: 20px;
}

.history .history-text-box .history-title {
  font-weight: 700;
  font-size: clamp(2rem, 1.4815rem + 2.5926vw, 3.75rem);
}
.history .history-text-box .history-description {
  font-size: clamp(1.125rem, 0.9918rem + 0.5607vw, 1.5rem);
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .intro {
    display: flex;
    gap: 60px;
    padding-top: 95px;
  }

  .intro img {
    flex: 1 1;
    max-width: 38%;
    margin: 0 0 0 -20px;
  }

  .intro .intro-text-block {
    flex: 1 0 50%;
    min-width: 50%;
  }

  .history {
    display: flex;
    gap: 60px;
  }

  .history img {
    width: 38%;
  }
}

.salons {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.salon-title {
  font-weight: 700;
  font-size: clamp(2.5rem, 2rem + 2vw, 3.75rem);
  line-height: 1;
  padding-bottom: 20px;
}

.salon-title a {
  display: block;
  font-size: clamp(1.5rem, 1.1rem + 1.6vw, 2.5rem);
  line-height: 1.1;
  color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.salon-title a:hover {
  color: rgba(64, 63, 63, 0.7);
}

.salon-item {
  padding-bottom: 40px;
}

.swiper {
  --swiper-scrollbar-bottom: 0;
  width: calc(100% + (var(--section-padding) * 2));
  margin-right: calc(var(--section-padding) * -1);
  margin-left: calc(var(--section-padding) * -1);
  padding-bottom: 15px;
  padding-left: var(--section-padding);
  overflow: hidden;
}

.swiper-scrollbar-drag {
  background: var(--orange);
  border-radius: 4px;
}

.swiper-slide {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  height: 400px;
  width: auto;
}

.item {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
}

.item img {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item:nth-child(odd) {
  width: 266px;
  height: 400px;
}

.item:nth-child(even) {
  width: 237px;
  height: 400px;
}

@media screen and (min-width: 1024px) {
  .salon {
    padding-bottom: 170px;
  }

  .salon-title {
    padding-bottom: 40px;
  }

  .salon-title a {
    text-underline-offset: 8px;
  }

  .salon-item {
    padding-bottom: 95px;
  }

  .swiper {
    padding-bottom: 0;
  }

  .swiper-scrollbar {
    display: none;
  }

  .swiper-slide {
    width: 135%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3.15%, 1fr));
    grid-auto-rows: calc(100vh / 100);
    gap: 20px;
    background-color: #fff;
    overflow: hidden;
    user-select: none;
    cursor: grab;
  }

  .item:nth-child(odd) {
    width: unset;
    height: unset;
  }

  .item:nth-child(even) {
    width: unset;
    height: unset;
  }

  .item:nth-child(1) {
    grid-column: 1/5;
    grid-row: span 16;
  }

  .item:nth-child(2) {
    grid-column: 1/8;
    grid-row: 17/25;
  }

  .item:nth-child(3) {
    grid-column: 5/8;
    grid-row: span 9;
  }

  .item:nth-child(4) {
    grid-column: 5/8;
    grid-row: 10/17;
  }

  .item:nth-child(5) {
    grid-column: 8/12;
    grid-row: span 9;
  }

  .item:nth-child(6) {
    grid-column: 8/12;
    grid-row: 10/25;
  }

  .item:nth-child(7) {
    grid-column: 12/15;
    grid-row: span 12;
  }

  .item:nth-child(8) {
    grid-column: 12/15;
    grid-row: 13/25;
  }
  .item:nth-child(9) {
    grid-column: 15/-1;
    grid-row: span 24;
  }
}

@container salon-slider (width >= 1400px) {
  .swiper {
    width: unset;
    margin-right: calc(((1500px - 100%) / 2) * -1);
    margin-left: calc(((1500px - 100%) / 2) * -1);
    padding-left: calc((1500px - 100%) / 2);
  }
}
